# npm
node_modules
# next.js build files
.next
# environment variables
.env.*.local
.env.local
!.env.example

# e2e playwright exclude
/e2e-results/
/test-results/
/playwright-report/
/playwright/.cache/
playwright-state.json